<div class="dashboard">

  <!-- Welcome Section -->

  <div class="welcome-section">

    <h1>
      Welcome back,
      <span>Rajesh 👋</span>
    </h1>

    <div class="team">

      <!--<img src="assets/images/profile.jpg" alt="">

      <img src="assets/images/profile.jpg" alt="">

      <img src="assets/images/profile.jpg" alt="">

      <img src="assets/images/profile.jpg" alt="">-->

      <button class="invite-btn">

        <i class="fa-solid fa-user-plus"></i>

        Invite

      </button>

    </div>

  </div>

  <!-- Main Dashboard -->

  <div class="dashboard-grid">

    <div class="left-column">

      <app-todo-list (openModel)="openAddTask()"></app-todo-list>

    </div>

    <div class="right-column">

      <app-task-status></app-task-status>

      <app-completed-task></app-completed-task>




    </div>

  </div>


</div>

