<header class="header">

  <div class="logo">
    <span class="red">Dash</span><span class="black">board</span>
  </div>

  <div class="search-container">

    <input type="text"
           placeholder="Search your task here...">

    <button>
      🔍
    </button>

  </div>

  <div class="header-right">

    <button class="icon-btn">
      🔔
    </button>

    <button class="icon-btn">
      📅
    </button>

    <div class="date">

      <h4>Tuesday</h4>

      <p>20/06/2023</p>

    </div>

  </div>

</header>
