<div class="sidebar">

  <div class="profile">

    <img src="assets/images/profile.jpg" alt="Profile">

    <h3>Rajesh Kumar</h3>

    <p>rajesh.kumar@veripark.com</p>

  </div>

  <nav class="menu">

    <a class="active">
      <span><i class="fa-solid fa-house"></i></span>
      Dashboard
    </a>

    <a>
      <span><i class="fa-solid fa-circle-exclamation"></i></span>
      Vital Task
    </a>

    <a>
      <span><i class="fa-solid fa-check"></i></span>
      My Task
    </a>

    <a>
      <span><i class="fa-solid fa-list"></i></span>
      Task Categories
    </a>

    <a>
      <span><i class="fa-solid fa-gear"></i></span>
      Settings
    </a>

    <a>
      <span><i class="fa-solid fa-circle-question"></i></span>
      Help
    </a>

  </nav>
  <br />
  <br />
  <div class="logout">

    <a>
      <span><i class="fa-solid fa-right-from-bracket"></i></span>
      Logout
    </a>

  </div>

</div>
