<div class="sidebar">

  <div class="profile">

    <img src="assets/images/profile.jpg" alt="Profile">

    <h3>Rajesh Kumar</h3>

    <p>rajesh.kumar@veripark.com</p>

  </div>

  <nav class="menu">

    <a class="active">
      <span>🏠</span>
      Dashboard
    </a>

    <a>
      <span>❗</span>
      Vital Task
    </a>

    <a>
      <span>✔</span>
      My Task
    </a>

    <a>
      <span>📋</span>
      Task Categories
    </a>

    <a>
      <span>⚙</span>
      Settings
    </a>

    <a>
      <span>❓</span>
      Help
    </a>

  </nav>
  <br />
  <br />
  <div class="logout">

    <a>
      <span>↩</span>
      Logout
    </a>

  </div>

</div>
