<div class="card">

  <h2>Task Status</h2>

  <div class="progress-circle">

    <div class="circle">

      <span>

        75%

      </span>

    </div>

  </div>

  <div class="status-list">

    <div class="status-item">

      <span>Completed</span>

      <strong>09</strong>

    </div>

    <div class="status-item">

      <span>In Progress</span>

      <strong>03</strong>

    </div>

    <div class="status-item">

      <span>Pending</span>

      <strong>02</strong>

    </div>

  </div>

</div>
