<div class="card">

  <h2>Task Status</h2>

  <div class="progress-circle">

    <div class="circle">

      <span>

        {{taskService.overallProgress()}}%

      </span>

    </div>

  </div>

  <div class="status-list">

    <div class="status-item">

      <span>Completed</span>

      <strong>{{ taskService.completedTasks() }}</strong>

    </div>

    <div class="status-item">

      <span>In Progress</span>

      <strong>{{taskService.inProgressTasks()}}</strong>

    </div>

    <div class="status-item">

      <span>Pending</span>

      <strong>{{taskService.pendingTasks()}}</strong>

    </div>

  </div>

</div>
