.task-card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: var(--shadow);
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.description {
  margin: 15px 0;
  color: #777;
  line-height: 1.6;
}

.task-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.priority {
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
}

.high {
  background: #ff4d4f;
}

.medium {
  background: #faad14;
}

.low {
  background: #52c41a;
}

.progress-section {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.progress-bar {
  flex: 1;
  height: 8px;
  background: #ececec;
  border-radius: 10px;
}

.progress-fill {
  height: 100%;
  background: var(--primary-color);
  border-radius: 10px;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.members {
  display: flex;
}

  .members img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -8px;
  }

    .members img:first-child {
      margin-left: 0;
    }

.view-btn {
  border: none;
  background: var(--primary-color);
  color: white;
  padding: 8px 18px;
  border-radius: 10px;
  cursor: pointer;
}
